.App, .header {
  width: 900px;
  margin: 50px auto;
}
.header{
  text-align: center;
}
.first_zadan, .two_zadan, .tree_zadan{
  width: 280px;
  padding-right: 10px;

}
.content{
  display: flex;
  justify-content: space-between;
}
.text{
  margin-bottom: 10px;
}